
/* =============== CONTENTS =============== */
/* FONTS */
/* BOX-SIZING */
/* GLOBAL STYLES */
/* HELPER / GLOBAL COMPONENTS */
/* MEDIA QUERIES */


/*------------------------------------*\
  #FONT-FACE
  \*------------------------------------*/

  @font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
    url('../fonts/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/Rubik-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/*------------------------------------*\
  #BOX-SIZING
  \*------------------------------------*/

  html {
    box-sizing: border-box;
}
h1, h2, h3 {
    font-weight: 500;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

/*------------------------------------*\
  #GLOBAL-STYLES
  \*------------------------------------*/

  body {
    font-family: "Rubik", "Times New Roman", sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 500;
    line-height: 1.5;
    color: var( --aside-and-headings-text-color);
}

/* VISUALLY HIDING CODE */

.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 clip: rect(0 0 0 0);
 overflow: hidden;
}

/* CONTAINER */

.container {
  width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* ROOT*/

:root {
    --text-color: #7688a4;
    --medium-text-color: #515151;
    --news-p-text-color-: #434343;
    --aside-and-headings-text-color: #202020;
}
.site-header {
    border-top: 4px solid #295093;
    background-color: #f6f6f9;
}
.site-header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 44px;
    margin-bottom: 40px;
}

.header-link {
    display: flex;
    align-items: center;
}
.site-header-main-home {
    display: flex;
    align-items: center;

}
.header-logo {
    padding-top: 3px;
    padding-right: 6px;
    padding-bottom: 4px;
    padding-left: 8px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
}
.header-currency-list {
    display: flex;
    list-style-type: none;
    align-items: center;
}
.currency-item {
    padding-right: 20px;
}
.current-cost {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    line-height: 19px;
    color: #7a7a7a;
}
.currency-unity {
    color: #285193;
}
.header-buttons-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.btn {
    font-family: 'Rubik', sans-serif;
    border: none;
    display: flex;
    padding-top: 11px;
    padding-bottom: 8px;
    border-radius: 5px;
}
.btn-magnifier {
    width: 38px;
    height: 40px;
    background-color: #fff;
    border: none;
    padding-top: 8px;
    padding-right: 6px;
    padding-bottom: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
}
.btn:before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 6px;
    border-radius: 50%;
}
.btn-language:before {
    background-image: url("../images/russian-language-logo.svg");
}
.btn-language {
    background-color: #fff;
    margin-left: 22px;
}

.btn-sign-up:before {
    background-image: url("../images/telegram-logo.svg");
}
.btn-sign-up {
    color: #fff;
    background-image: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    margin-left: 23px;
}
.btn-sign-up:hover {
    background-image: linear-gradient(90deg, #16C8 15.07%, #37A 85.96%);
}
.sitenav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 22px 25px;
    margin-bottom: 18px;
    background-color: #fff;
    border-radius: 5px;
}
.sitenav-link {
    font-family: "Rubik", "Times New Roman", sans-serif;
    text-decoration: none;
    line-height: 22px;
    font-size: 19px;
    color: var(--medium-text-color);
    transition: color 0.1s linear;
}
.sitenav-link:hover {
    color: #295091;
}
.site-header-advertising-banner {
    margin-bottom: 23px;
}

/* MAIN */

/* BASIC NEWS */

.basic-news {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 34px;
}
.main-figure {
    width: calc(100% / 3);
}
.figcaption {
    font-size: 17px;
    line-height: 20px;
    color: var( --aside-and-headings-text-color);
}
strong {
    font-weight: 500;
    display: block;
    margin-bottom: 11px;
}
time {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6B6D97;
    margin-bottom: 18px;
}


.notifications {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-right: 20px;
    padding-bottom: 33px;
    padding-left: 34px;
    background: rgba(239, 186, 84, 0.18);
    border-radius: 5px;
    margin-bottom: 38px;
}
.notifications-heading {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 0;
    line-height: 23px;
}
.notifications-heading:before {
    content: "";
    background-image: url("../images/bell-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 31px;
    height: 35px;
    margin-right: 17px;
}
.notifications-btn {
    background-image: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
    border-radius: 5px;
    border: none;
    padding: 8px 8px 8px 15px;
    font-family: "Rubik", "Times New Roman", sans-serif;
    color: #fff;
}
.notifications-btn:hover {
    background-image: linear-gradient(90deg, rgba(255, 139, 54, 0.9) 0%, #FE5C28 88.43%);
}
.last-news-list {
    width: 794px;   
}
.last-news-figure {
    display: flex;
    margin-bottom: 18px;
}
.last-news-image {
    margin-right: 19px;
}
.last-news-heading {
    margin: 0;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
}
.last-news-desc {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}
.last-news-date {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    color: #7688a4;
}
.last-news-date:before {
    content: "";
    background-image: url("../images/outline-date-range.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 20px;
}